@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Noto+Sans+SC&display=swap');

html, 
body {
    background-color: rgb(240, 240, 240);
    font-family: 'Comfortaa', 'Noto Sans SC', sans-serif;
    overflow-x: hidden;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.sticky {
    position: sticky;
}

/* Actual CSS */
.mobile-block {
    visibility: hidden;
}

.header {
    position: fixed;
    font-size: 2vh;
    top: 0;
    left: 0;
    padding-top: 1vh;
    padding-left: 0.5vw;
    width: 100vw;
    height: 3vh;
    background-color:rgb(255, 255, 255);
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    z-index: 50;
}


.header-button-parent {
    position: relative;
    list-style-type: none;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(255, 255, 255);
}
  
.header-button {
    float: left;
    transition: all 0.5s;
}

.header-event {
    float: left;
    transition: all 0.5s;
}
  
.header-button .icon {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-left: 0.5vw;
    padding-right: 1vw;
    padding-top: 2vh;
    font-weight: bold;
    text-decoration: none;
}

.header-button .link {
    color: rgb(79, 79, 79);
    text-align: center;
    margin-right: 1vw;
    padding-top: 2vh;
    text-decoration: none;
}

.header-button .link:hover:not(.active) {
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: all 0.2s;
}
  
.header-event .event-title {
    font-size: 1.3vh;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-right: 0.2vw;
    padding-top: 2vh;
    text-decoration: none;
}
  
.header-event .event {
    font-size: 1.3vh;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-right: 1vw;
    padding-top: 2vh;
    text-decoration: none;
}

.active {
    color: #550000;
}

hr {
    height: 0.3vh;
    width: 95%;
    background-color: rgb(0, 0, 0);
    border: none;
}

.subheader {
    position: fixed;
    font-size: 1.8vh;
    top: 0;
    left: 0;
    padding-top: 5vh;
    padding-left: 0.5vw;
    width: 100vw;
    height: 2.7vh;
    background-color:rgb(206, 206, 206);
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    z-index: 49;
}

.subheader-button-parent {
    position: relative;
    list-style-type: none;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.subheader-button {
    float: left;
    transition: all 0.5s;
}

.subheader-event {
    float: left;
    transition: all 0.5s;
}
  
.subheader-button .icon {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-left: 0.5vw;
    padding-right: 1vw;
    padding-top: 2vh;
    font-weight: bold;
    text-decoration: none;
}

.subheader-button .link {
    color: rgb(79, 79, 79);
    text-align: center;
    margin-right: 1vw;
    padding-top: 2vh;
    text-decoration: none;
}

.subheader-button .link:hover:not(.active) {
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: all 0.2s;
}

/* Homepage */
.splashimage {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    overflow: hidden;
}

.splashimageblur {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: white;
    opacity: 0.5;
    z-index: 1;
    overflow: hidden;
    transition: all 0.2s;
}

.splashimagetext {
    position: absolute;
    font-size: 8vh;
    font-weight: bold;
    left: 0;
    top: 0;
    height: 30vh;
    width: 100vw;
    z-index: 1;
    overflow: hidden;
    padding-top: 70vh;
    padding-left: 15vh;
}

.splashimageblur:hover {
    opacity: 0.2;
    transition: all 0.2s;
}

.content {
    padding: 1vh 2vw 1vh 2vw;
}

.content-link {
    text-decoration: none;
    color:rgb(0, 190, 200);
    transition: all 0.2s;
}

.content-link:hover {
    color:rgb(0, 137, 144);
    transition: all 0.2s;
}


/* News */
.title {
    font-size: 5vh;
    font-weight: bold;
}

.subtitle {
    font-size: 2vh;
}

.act-content{
    font-size: 1.5em;
}

.article-title {
    font-size: 2vh;
    font-weight: bold;
}

.article-content {
    font-size: 1.5vh;
}

.hidden-text {
    color: rgb(44, 44, 44);
    background-color: rgb(44, 44, 44);
    transition: all 0.2s;
}

.hidden-text:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(157, 0, 0);
    transition: all 0.2s;
}

.article-banner {
    font-size: 1.5vh;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(206, 206, 206);
    text-shadow: 1px 0px #ffffff;
    padding: 2vw 2vw 2vw 2vw;
    width: 90vw;
    background-color: #ffffff;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
}

.ad {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 11vh;
    background-color: #ffffff;
    text-shadow: 1.5px 1.5px #ffffff;
    overflow: visible;
    padding-top: 1vh;
    padding-left: 1vh;
    font-size: 1.5vh;
    background-image: url('./src/free-robux.png');
    background-size: cover;
    z-index: 98;
}

/* Attributes */
.float-right {
    float: right;
}

.page-blank {
    padding-top: 100vh;
}

.blank-3 {
    padding-top: 3vh;
}

.empty-right {
    padding-right: 1vw;
}

.margin-3 {
    margin-top: 3vh;
}

.disabled {
    pointer-events: none;
}

.download {
    color:rgb(0, 82, 100);
    transition: all 0.2s;
}

.download:hover {
    color:rgb(0, 190, 200);
    transition: all 0.2s;
}

@media only screen and (max-width: 980px) {
    .mobile-block {
        position: fixed;
        font-size: 5vh;
        text-align: center;
        padding-top: 50vh;
        top: 0;
        left: 0;
        width: 130vw;
        height: 100vh;
        background-color:rgb(255, 255, 255);
        z-index: 99;
        visibility: visible;
    }
}