.gameimage-2 {
    background: linear-gradient(-45deg, #eaf4ff, #2cc7ff, #2affcd);
    background-size: 400% 400%;
    border-radius: 10px;
    animation: gradient 15s ease infinite;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(77, 77, 77);
    margin: 10px;
    transition: all 0.2s ease;
    opacity: 50%;
}

.gameimage-2:hover {
    border-color: rgb(255, 255, 255);
    transition: all 0.5s ease;
    opacity: 100%;
}


@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
